@use "./variabler.scss";

@mixin justify($content: center, $items: center) {
  justify-content: $content;
  justify-items: $items;
}

@mixin align($content: center, $items: center) {
  align-content: $content;
  align-items: $items;
}

#acceuil,
#about,
#project,
#contact {
  min-height: 100vh;
}

#acceuil {
  display: grid;
  grid-template-rows: 5fr 2fr;
  @include justify();
  align-content: center;

  .container {
    display: flex;
    @include justify();
    @include align();
    flex-direction: column;

    .boite-acceuil {
      min-width: 80vw;
      height: 50%;
      display: grid;
      gap: 16px;
      @include justify();
      @include align();
      flex-direction: column;

      @media screen and (max-width: 900px) {
        min-width: 100%;

        @media screen and (max-width: 600px) {
          border-radius: 0;
        }
      }
    }

    .description {
      margin-top: 5%;
    }
  }

  button {
    height: 25%;
    width: 25%;
    min-width: 150px;
  }
}

#about {
  height: auto;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  @include justify();
  gap: variabler.$margin2;

  .left {
    order: 2;
  }

  .right {
    order: 1;
  }

  .left,
  .right {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: variabler.$margin2;

    #competences,
    #actuellement {
      box-sizing: border-box;
      width: 100%;
      flex: 1;
    }
  }
}

#project {
  min-height: 0;
  width: 80vw;
  margin-inline: auto;
  margin-top: variabler.$margin6;

  h2 {
    font-weight: 600;
  }

  h3 {
    font-weight: 500;
    margin: variabler.$margin4;
  }

}

#contact {
  min-height: 0;
  display: flex;
  @include justify();
  @include align();
  flex-direction: column;

  h1 {
    margin-bottom: 2rem;
  }

  .contact-container {
    width: 80%;
    max-width: 800px;
    padding: 2rem;

    .contact-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h3 {
        margin-bottom: 0.5rem;
      }

      a,
      p {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}